

    <span>{{ title }} y aca desde componente.HTML !!!!</span>

    <br/>

    <span>saludo: {{ saludo }}</span>

   

    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>
    <app-colores></app-colores>

    